.resume__container{
    position: fixed;
    width: 600px;
    height: 500px;
    max-width: 90vw;
    max-height:85vh;
    padding: 2em;
    overflow: auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.5em);
    border: 1px solid;
    border-color: #fff8 transparent transparent #fff8;
    border-radius: 1em;
    box-shadow: 1em 1em .5em #0008;
    cursor: pointer;
}

  .resume__heading {
    margin: 0 0 .50em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
  }
  
.typography{
  font-weight: 400;
  margin: 0 0 .50em;
}
.work__experience{
  display: flexbox;
  justify-content: space-between;
}
.tripplo__logo{
  width: 50px;
  height: auto;
}