
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Iceland&display=swap');

.contact__card {
  position: fixed;
  width: 500px;
  height: auto;
  max-width: 90%;
  max-height: 80%;
  overflow: auto;
  margin-bottom: 16px;
  padding: 2em;
  font-family: 'Courier Prime', mono;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.5em);
  border: 1px solid;
  border-color: #fff8 transparent transparent #fff8;
  border-radius: 1em;
  box-shadow: 1em 1em .5em #0008;
}
.card__heading {
    margin: 0 0 .50em;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
}

.card__numbers {
    padding: 0;
    margin: 1em 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Iceland', cursive;
}
.card__number {
    font-size: 2.25em;
    letter-spacing: 1px;
    transform: scaley(1.2);
}

.card__input {
    font-family: "Roboto", sans-serif;
    outline: 1;
    background-color: #00000047;
    color: white;
    width: 100%;
    max-width: 100%;
    border: 1px solid #00000073;
    margin: 0 0 12px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 5px;
}
  .card__button {
    position: relative;
    padding: 15px;
    margin:5px;
    width: 100%;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25), inset 0 0 2px 0px     white;
    background-color: #00000082;
    color:white;
    overflow: hidden;
}
.card__socialIcons {
    padding: 0;
    margin: 1em 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.animate-fading{
  animation:fading 2s infinite
}
@keyframes fading{
  0%{opacity:0}
  50%{opacity:1}
  100%{opacity:0}}
.animate-opacity{
  animation:opac 2s infinite
}
@keyframes opac{
  from{opacity:0} 
  to{opacity:1}
}
.animate-zoom {
  animation:animatezoom 2s infinite
}
@keyframes animatezoom{
  from{transform:scale(0)} 
  to{transform:scale(1)}
}

.social-icon-hover:hover {
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
  }
}
