.header__card {
  max-width: 95vw;
  max-height: 100vh;
    position: fixed;
    width: auto;
    height: auto;
    padding: 2em;
    font-family: 'Courier Prime', mono;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.5em);
    border: 1px solid;
    border-color: #fff8 transparent transparent #fff8;
    border-radius: 1em;
    box-shadow: 1em 1em .5em #0008;
    cursor: pointer;
  }
  .social__icons{
    display: flex;
    overflow: auto;
  }
  .animate-fb{
    animation:pulse-fb 2s infinite
  }
  .animate-twt{
    animation: pulse-twt 2s infinite
  }
  .animate-gh{
    animation: pulse-gh 2s infinite;
  }
  .animate-whtapp{
    animation: pulse-whtapp 2s infinite;
  }
  .animate-insta{
    animation: pulse-insta 2s infinite;
  }
  .animate-lnkdin{
    animation: pulse-lnkdin 2s infinite;
  }
  @keyframes pulse-fb {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(31, 51, 228, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
  }
  @keyframes pulse-twt {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
  }
  @keyframes pulse-gh {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  @keyframes pulse-whtapp {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(17, 206, 80, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
    }
  }
  @keyframes pulse-insta {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(204, 27, 151, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 121, 63, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 121, 63, 0);
    }
  }
  @keyframes pulse-lnkdin {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(52, 172, 224, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
  }
  