.header__card {
    position: relative;
    width: auto;
    height: auto;
    top: 50px;
    bottom: 50px;
    padding: 2em;
    font-family: 'Courier Prime', mono;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(0.5em);
    border: 1px solid;
    border-color: #fff8 transparent transparent #fff8;
    border-radius: 1em;
    box-shadow: 1em 1em .5em #0008;
  }
