@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&family=Iceland&display=swap");

*{
  margin: 0;
}
body{
  font-family: 'Courier Prime' monospace;
}
p {
	color: #fff;
	text-transform: none;
}


