.navbar__image{
    width: 100%;
}
.small__screen{
    width: 25% !important
}
.sidebar{
    height:100%;
    width:100px;
    background-color:rgb(44, 127, 236);
    position:fixed!important;
    z-index:1;
    overflow:auto
}
.nav{
    background-color: aquamarine;
}